/* Color-Scheme For All Themes*/

* {
    background:    #d8c0f0;
    background-alt: #c69fed;
    foreground:    #000000;
    border:    #5895DCff;
    selected:    #c69fed;
    urgent:    #d8c0f0;
	logo:    #EC407Aff;
	on:    #61C766ff;
	off:    #EC7875ff;
}

/* {
    background:    #d8c0f0;
    background-alt: #c69fed;
    foreground:    #000000;
    border:    #ffffff;
    selected:    #c69fed;
    urgent:    #d8c0f0;
	logo:    #d8c0f0;
	on:    #d8c0f0;
	off:    #c690f0;
}
*/
