/* Color-Scheme For All Themes*/

/* {
    background:    #ffffffff;
    background-alt:    #ffffffff;
    foreground:    #606060ff;
    border:    #5895DCff;
    selected:    #5895DCff;
    urgent:    #EC407Aff;
	logo:    #EC407Aff;
	on:    #61C766ff;
	off:    #EC7875ff;
}
*/

* {
    background: #1e1e2e;
    background-alt: #1e1e2e;
    border: #1e1e2e;
    selected: #cba6f7;
    urgent: #89b4fa;
    foreground: #cdd6f4;
    logo: #1e1e2e;
    on: #6c7086;
    off: #89b4fa;
}
